.hire-page-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    background-color: #a7f1ed;
    justify-content: space-around;
    align-items: center;
}

.hire-page-upper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 80%;
    padding: 30px 0px;
}

.hire-me-head {
    font-size: 70px;
    line-height: 0px;
    margin-bottom: 30px;
}

.input-round {
    border: none;
    border-radius: 15px;
}

.hire-input-text-style {
    font-family: "Inter";
    font-weight: medium;
    letter-spacing: -2px;
    padding: 20px 20px;
    font-size: 30px;
}

.hire-input-text-style::placeholder {
    font-size: 45px;
}

.email-input {
    min-width: 98%;
}

.brief-input {
    min-height: 300px;
    min-width: 98%;
}

.hire-submit-button {
    background-color: #000606;
    min-width: 350px;
    max-width: 350px;
    padding: 10px 20px;
    border: none;
    border-radius: 5555px;
    color: white;
    font-family: Assistant;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 24px;
}

@media (max-width: 600px) {
    .hire-me-head {
        font-size: 55px;
    }

    .hire-input-text-style {
        font-size: 23px;
        padding: 20px 5px;
    }

    .hire-input-text-style::placeholder {
        font-size: 28px;
    }

    .hire-submit-button {
        min-width: 290px;
        font-size: 30px;
    }
}
