@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Baloo+Da+2:wght@400..800&display=swap');

* {
    font-family: "Assistant", sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
}